# 5주차 과제

1. 이미 구축한  DB(stock_db)에 있는 테이블을 활용해서  조건에 맞는 기업을 추출해 내는 과제 입니다.

2. 지난 시간에 실습했던 파이썬 구현 내용들을  이용하면  쉽게 마칠 수 있을 것입니다.

3. 주의할 점은  기업 유니버스 범위를 전 종목이 아니라 KOSPI로 한정하고 있으니  '시장 구분' 조건을 추가해야 할 것입니다.

4.  파이썬 코드와 결과 리스트 등은 갭쳐하거나 복사해서  워드나 파워포인트 등에 붙여 파일 첨부로 제출해 주세요.

5. 과제 문제는 파일로 첨부했습니다.

--  1번 과제에서 매출액 변화를  '매출액 증가율'로 수정합니다.

## 1. 데이터 준비
1. DB 구축
2. '시장 구분'조건으로 KOSPI 종목 주식 데이터 불러오기

In [1]:
import sys
sys.version

'3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]'

In [2]:
import sqlalchemy
import pandas as pd

print(sqlalchemy.__version__)  # SQLAlchemy 버전 확인
print(pd.__version__)  # pandas 버전 확인

2.0.25
2.2.3

In [3]:
# 패키지 불러오기

from sqlalchemy import create_engine
import pandas as pd
import numpy as np

# DB 연결

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')

# KOSPI 구성 종목의 시가총액 및 주가 데이터 가져오기
kospi_ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
and 종목구분 = '보통주'
and 시장구분 = 'KOSPI';
""", con=engine)

# 재무제표 불러오기  (q: 분기, y: 연간)

fs_list = pd.read_sql("""
select * from kor_fis
where 계정 in ('당기순이익','매출액', '매출총이익', '영업활동으로인한현금흐름', '자산', '자본','부채','배당금지급(-)')
and 공시구분 = 'y';   # 연간 
""", con=engine)

engine.dispose()

In [4]:
#  데이터 구조 파악

print(fs_list.tail(1))
print(fs_list.shape)
print("----------------------------------------------------------------------------------------------------------")
print(kospi_ticker_list.tail(1))
print(kospi_ticker_list.shape)

       계정         기준일      값    종목코드 공시구분
54141  자산  2024-03-31  946.0  289080    y
(54142, 5)
----------------------------------------------------------------------------------------------------------
       종목코드     종목명   시장구분       종가          시가총액         기준일  EPS   선행EPS  \
810  475150  SK이터닉스  KOSPI  19230.0  5.383930e+11  2024-07-03  NaN  1313.0

     BPS  주당배당금 종목구분
810  NaN    0.0  보통주
(811, 11)

In [5]:
kospi_ticker_list.head()

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분
0,000020,동화약품,KOSPI,7930.0,2.214970e+11,2024-07-03,991.0,NaN,13413.0,180.0,보통주
1,000040,KR모터스,KOSPI,643.0,3.866540e+10,2024-07-03,NaN,NaN,618.0,0.0,보통주
2,000050,경방,KOSPI,7700.0,2.110980e+11,2024-07-03,NaN,NaN,29623.0,125.0,보통주
3,000070,삼양홀딩스,KOSPI,68300.0,5.849400e+11,2024-07-03,22269.0,NaN,257475.0,3500.0,보통주
4,000080,하이트진로,KOSPI,20450.0,1.434230e+12,2024-07-03,512.0,1482.0,15694.0,950.0,보통주

## 문제 1

KOSPI 구성종목에서 전년(2022년) 대비 매출액이 크게 증가한 기업 상위 10 개

In [6]:
# 기준일을 datetime으로 변환한 후, 연도 필터링
fs_list['기준일'] = pd.to_datetime(fs_list['기준일'], format='%Y-%m-%d')

#### 2022년 종목별 재무비율

In [7]:
# 2022년 데이터만 추출
fs_2022 = fs_list[(fs_list['기준일']=='2022-12-31')]

In [8]:
f_2022_list = fs_2022.groupby(['종목코드', '계정']).tail(1)
f_2022_list_pivot = f_2022_list.pivot(index='종목코드', columns='계정', values='값')  # 수직 to 수평으로 데이터 변환
f_2022_list_pivot.head(5)

계정,당기순이익,매출액,매출총이익,배당금지급(-),부채,영업활동으로인한현금흐름,자본,자산
종목코드,,,,,,,,
000020,216.0,3404.0,1810.0,-50.0,825.0,292.0,3787.0,4611.0
000040,-130.0,1171.0,170.0,NaN,1092.0,-24.0,400.0,1492.0
000050,44.0,3892.0,1262.0,-31.0,4933.0,293.0,7550.0,12483.0
000070,1058.0,33168.0,5433.0,-337.0,20243.0,957.0,25235.0,45478.0
000080,868.0,24976.0,10632.0,-557.0,21724.0,-740.0,11610.0,33334.0

In [9]:
# 재무비율 변환

f_2022_list_pivot['ROE'] = f_2022_list_pivot['당기순이익'] / f_2022_list_pivot['자본']
f_2022_list_pivot['ROA'] = f_2022_list_pivot['당기순이익'] / f_2022_list_pivot['자산']
f_2022_list_pivot['GPA'] = f_2022_list_pivot['매출총이익'] / f_2022_list_pivot['자산']
f_2022_list_pivot['CFO'] = f_2022_list_pivot['영업활동으로인한현금흐름'] / f_2022_list_pivot['자산']
f_2022_list_pivot['DEBTR'] = f_2022_list_pivot['부채'] / f_2022_list_pivot['자본']  # 부채비율
f_2022_list_pivot['DVP'] = (-1)*f_2022_list_pivot['배당금지급(-)'] / f_2022_list_pivot['당기순이익']  # 배당성향 = 현금 배당금/당기순이익

f_2022_ratio = kospi_ticker_list[['종목코드', '종목명']].merge(f_2022_list_pivot,
                                                  how='left',
                                                  on='종목코드') # 종목코드에 종목명을 매칭
f_2022_ratio.round(4).head()

,종목코드,종목명,당기순이익,매출액,매출총이익,배당금지급(-),부채,영업활동으로인한현금흐름,자본,자산,ROE,ROA,GPA,CFO,DEBTR,DVP
0,000020,동화약품,216.0,3404.0,1810.0,-50.0,825.0,292.0,3787.0,4611.0,0.0570,0.0468,0.3925,0.0633,0.2179,0.2315
1,000040,KR모터스,-130.0,1171.0,170.0,NaN,1092.0,-24.0,400.0,1492.0,-0.3250,-0.0871,0.1139,-0.0161,2.7300,NaN
2,000050,경방,44.0,3892.0,1262.0,-31.0,4933.0,293.0,7550.0,12483.0,0.0058,0.0035,0.1011,0.0235,0.6534,0.7045
3,000070,삼양홀딩스,1058.0,33168.0,5433.0,-337.0,20243.0,957.0,25235.0,45478.0,0.0419,0.0233,0.1195,0.0210,0.8022,0.3185
4,000080,하이트진로,868.0,24976.0,10632.0,-557.0,21724.0,-740.0,11610.0,33334.0,0.0748,0.0260,0.3190,-0.0222,1.8711,0.6417

#### 2023년 종목별 재무비율

In [10]:
# 2023년 연간 데이터만 추출
fs_2023 = fs_list[(fs_list['기준일']=='2023-12-31')]

In [11]:
f_2023_list = fs_2023.groupby(['종목코드', '계정']).tail(1)
f_2023_list_pivot = f_2023_list.pivot(index='종목코드', columns='계정', values='값')  # 수직 to 수평으로 데이터 변환
f_2023_list_pivot.head(5)

계정,당기순이익,매출액,매출총이익,배당금지급(-),부채,영업활동으로인한현금흐름,자본,자산
종목코드,,,,,,,,
000020,282.0,3611.0,1904.0,-50.0,1579.0,292.0,4071.0,5650.0
000040,-210.0,784.0,48.0,NaN,1162.0,-88.0,224.0,1386.0
000050,-135.0,3935.0,1118.0,-31.0,4688.0,462.0,7380.0,12069.0
000070,2270.0,32109.0,5287.0,-378.0,23401.0,3058.0,27965.0,51367.0
000080,355.0,25202.0,11140.0,-661.0,22425.0,1644.0,11159.0,33583.0

In [12]:
# 재무비율 변환

f_2023_list_pivot['ROE'] = f_2023_list_pivot['당기순이익'] / f_2023_list_pivot['자본']
f_2023_list_pivot['ROA'] = f_2023_list_pivot['당기순이익'] / f_2023_list_pivot['자산']
f_2023_list_pivot['GPA'] = f_2023_list_pivot['매출총이익'] / f_2023_list_pivot['자산']
f_2023_list_pivot['CFO'] = f_2023_list_pivot['영업활동으로인한현금흐름'] / f_2023_list_pivot['자산']
f_2023_list_pivot['DEBTR'] = f_2023_list_pivot['부채'] / f_2023_list_pivot['자본']  # 부채비율
f_2023_list_pivot['DVP'] = (-1)*f_2023_list_pivot['배당금지급(-)'] / f_2023_list_pivot['당기순이익']  # 배당성향 = 현금 배당금/당기순이익

f_2023_ratio = kospi_ticker_list[['종목코드', '종목명']].merge(f_2023_list_pivot,
                                                  how='left',
                                                  on='종목코드') # 종목코드에 종목명을 매칭
f_2023_ratio.round(4).head()

,종목코드,종목명,당기순이익,매출액,매출총이익,배당금지급(-),부채,영업활동으로인한현금흐름,자본,자산,ROE,ROA,GPA,CFO,DEBTR,DVP
0,000020,동화약품,282.0,3611.0,1904.0,-50.0,1579.0,292.0,4071.0,5650.0,0.0693,0.0499,0.3370,0.0517,0.3879,0.1773
1,000040,KR모터스,-210.0,784.0,48.0,NaN,1162.0,-88.0,224.0,1386.0,-0.9375,-0.1515,0.0346,-0.0635,5.1875,NaN
2,000050,경방,-135.0,3935.0,1118.0,-31.0,4688.0,462.0,7380.0,12069.0,-0.0183,-0.0112,0.0926,0.0383,0.6352,-0.2296
3,000070,삼양홀딩스,2270.0,32109.0,5287.0,-378.0,23401.0,3058.0,27965.0,51367.0,0.0812,0.0442,0.1029,0.0595,0.8368,0.1665
4,000080,하이트진로,355.0,25202.0,11140.0,-661.0,22425.0,1644.0,11159.0,33583.0,0.0318,0.0106,0.3317,0.0490,2.0096,1.8620

#### 병합 후 매출액 증가율 계산

In [13]:
# 2022년과 2023년 데이터를 종목코드 기준으로 병합
# 2022년 매출액 데이터와 2023년 매출액 데이터를 종목코드로 병합
fs_merged = pd.merge(f_2022_ratio[['종목코드', '매출액']], f_2023_ratio[['종목코드', '매출액']], on='종목코드', how='inner', suffixes=('_2022', '_2023'))
fs_merged.head()

     종목코드  매출액_2022  매출액_2023
0  000020    3404.0    3611.0
1  000040    1171.0     784.0
2  000050    3892.0    3935.0
3  000070   33168.0   32109.0
4  000080   24976.0   25202.0

In [35]:
# KOSPI 종목으로 필터링
fs_kospi = pd.merge(fs_merged, kospi_ticker_list[['종목코드', '종목명']], on='종목코드', how='inner')

# 매출액 증가율 계산 ((2023 매출액 - 2022 매출액) / 2022 매출액) * 100 (%), 소수점 둘째 자리까지 표시
fs_kospi['매출액 증가율'] = (((fs_kospi['매출액_2023'] - fs_kospi['매출액_2022']) / fs_kospi['매출액_2022']) * 100).round(2)

# 매출액 증가율이 큰 순으로 정렬 후 상위 10개 기업 추출
top_10 = fs_kospi.sort_values(by='매출액 증가율', ascending=False).head(10)

top_10['기준일'] = pd.to_datetime('2023-12-31')  

top_10 = top_10[['종목코드', '종목명', '기준일', '매출액 증가율']]

top_10

       종목코드       종목명        기준일  매출액 증가율
798  446070  유니드비티플러스 2023-12-31   478.08
533  039130      하나투어 2023-12-31   257.91
671  118000      에스메디 2023-12-31   192.15
472  025620   제이준코스메틱 2023-12-31   174.19
626  091810     티웨이항공 2023-12-31   156.52
618  089590      제주항공 2023-12-31   145.41
766  298690      에어부산 2023-12-31   119.85
750  272450       진에어 2023-12-31   115.23
273  007460     에이프로젠 2023-12-31    92.34
155  003580    HLB글로벌 2023-12-31    79.15

---

## 문제 2

2024년 최근 TTM 기준 KOSPI 구성종목 중에 PBR이 1 미만 , PER가 10미만, 배당수익률(DY) 5%이상,자기자본이익률(ROE) 10% 이상

TTM (Trailing Twelve Months) : 연간 기준 재무제표를 데이터 활용시 다음 재무제표가 발표될때 까지 최장 1년을 기다려야 함. 한편 분기 재무제표는 3개월마다 발표되므로 최근 정보가 반영될 수 있다는 장점이 있어 최근 4개 분기 데이터를 활용하는 TTM 기법이 많이 사용된다.

재무제표 데이터를 이용한  가치지표 계산. 

1. PER = Price to Earnings Ratio= p / Earnings (순이익). 
2. PBR = Price to Book Ratio = p / Book Value (순자산). 
3. PCR = Price to Cash Flow Ratio= p / Cash Flow (영업활동현금흐름). 
4. PSR = Price to Sales Ratio=  p / Sales (매출액). 
5. DY = Dividend Yield = p / Dividened (배당).
6. ROE = Net income (당기 순이익) / Equity (자본) * 100

In [36]:
import pandas as pd
from sqlalchemy import create_engine

#  가치지표 DB
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')

# 재무제표 불러오기  (q: 분기, y: 연간)
fsq_list = pd.read_sql("""
select * from kor_fis
where 공시구분 = 'q'
and 계정 in ('당기순이익','자본','영업활동으로인한현금흐름','매출액');
""", con=engine)

# KOSPI 구성 종목의 시가총액 및 주가 데이터 가져오기
kospi_ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
and 종목구분 = '보통주'
and 시장구분 = 'KOSPI';
""", con=engine)

engine.dispose()

In [37]:
print(fsq_list.columns)

Index(['계정', '기준일', '값', '종목코드', '공시구분'], dtype='object')

In [38]:
kospi_ticker_list

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분
0,000020,동화약품,KOSPI,7930.0,2.214970e+11,2024-07-03,991.0,NaN,13413.0,180.0,보통주
1,000040,KR모터스,KOSPI,643.0,3.866540e+10,2024-07-03,NaN,NaN,618.0,0.0,보통주
2,000050,경방,KOSPI,7700.0,2.110980e+11,2024-07-03,NaN,NaN,29623.0,125.0,보통주
3,000070,삼양홀딩스,KOSPI,68300.0,5.849400e+11,2024-07-03,22269.0,NaN,257475.0,3500.0,보통주
4,000080,하이트진로,KOSPI,20450.0,1.434230e+12,2024-07-03,512.0,1482.0,15694.0,950.0,보통주
...,...,...,...,...,...,...,...,...,...,...,...
806,460850,동국씨엠,KOSPI,6800.0,2.033110e+11,2024-07-03,339.0,1943.0,32217.0,100.0,보통주
807,460860,동국제강,KOSPI,9420.0,4.673080e+11,2024-07-03,2869.0,3607.0,34740.0,700.0,보통주
808,462520,조선내화,KOSPI,19700.0,2.335470e+11,2024-07-03,1990.0,NaN,17960.0,0.0,보통주
809,465770,STX그린로지스,KOSPI,14000.0,1.003940e+11,2024-07-03,201.0,NaN,4260.0,0.0,보통주
810,475150,SK이터닉스,KOSPI,19230.0,5.383930e+11,2024-07-03,NaN,1313.0,NaN,0.0,보통주

In [40]:
fsq_list.head()

      계정         기준일       값    종목코드 공시구분
0  당기순이익  2023-06-30   -20.0  000250    q
1  당기순이익  2023-06-30   964.0  000370    q
2  당기순이익  2023-06-30   249.0  000400    q
3  당기순이익  2023-06-30   670.0  000540    q
4  당기순이익  2023-06-30  6032.0  000810    q

### ttm을 통해 분기 재무데이터를 처리해보자

In [41]:
fsq_list = fsq_list.sort_values(['종목코드', '계정', '기준일'])
fsq_list['ttm'] = fsq_list.groupby(['종목코드', '계정'], as_index=False)['값'].rolling(
    window=4, min_periods=4).sum()['값']   # 최소 4개 데이터가 있어야 계산
fsq_list

                 계정         기준일       값    종목코드 공시구분    ttm
263           당기순이익  2023-09-30    62.0  000020    q    NaN
2616          당기순이익  2023-12-31    16.0  000020    q    NaN
4960          당기순이익  2024-03-31    29.0  000020    q    NaN
7375          당기순이익  2024-06-30    31.0  000020    q  138.0
9715            매출액  2023-09-30   875.0  000020    q    NaN
...             ...         ...     ...     ...  ...    ...
18729           매출액  2024-06-30   140.0  475150    q    NaN
26104  영업활동으로인한현금흐름  2024-03-31  -272.0  475150    q    NaN
28235  영업활동으로인한현금흐름  2024-06-30   234.0  475150    q    NaN
35706            자본  2024-03-31  2186.0  475150    q    NaN
37855            자본  2024-06-30  2169.0  475150    q    NaN

[37856 rows x 6 columns]

In [42]:
import numpy as np

fsq_list['ttm'] = np.where(fsq_list['계정'] == '자본',
                            fsq_list['ttm'] / 4, fsq_list['ttm'])
fsq_list = fsq_list.groupby(['계정', '종목코드']).tail(1)

fsq_list

                 계정         기준일       값    종목코드 공시구분     ttm
7375          당기순이익  2024-06-30    31.0  000020    q   138.0
16592           매출액  2024-06-30  1152.0  000020    q  4058.0
26107  영업활동으로인한현금흐름  2024-06-30   -87.0  000020    q   130.0
35709            자본  2024-06-30  4091.0  000020    q  4055.0
7376          당기순이익  2024-06-30   -15.0  000040    q  -191.0
...             ...         ...     ...     ...  ...     ...
35705            자본  2024-03-31  1934.0  472850    q     NaN
9521          당기순이익  2024-06-30   -27.0  475150    q     NaN
18729           매출액  2024-06-30   140.0  475150    q     NaN
28235  영업활동으로인한현금흐름  2024-06-30   234.0  475150    q     NaN
37855            자본  2024-06-30  2169.0  475150    q     NaN

[9651 rows x 6 columns]

In [43]:
# KOSPI 티커 리스트와 fsq_list를 병합할 때 KOSPI에 해당하는 종목만 포함
fsq_list_merge = fsq_list[['종목코드', '계정', '값', 'ttm', '기준일']].merge(
    kospi_ticker_list[['종목코드', '시가총액']], on='종목코드', how='inner'
)

# 시가총액 단위를 원에서 억으로 변경
fsq_list_merge['시가총액'] = fsq_list_merge['시가총액'] / 100000000  # 원 --> 억으로

# 결과 확인
fsq_list_merge

        종목코드            계정       값     ttm         기준일      시가총액
0     000020         당기순이익    31.0   138.0  2024-06-30  2214.970
1     000020           매출액  1152.0  4058.0  2024-06-30  2214.970
2     000020  영업활동으로인한현금흐름   -87.0   130.0  2024-06-30  2214.970
3     000020            자본  4091.0  4055.0  2024-06-30  2214.970
4     000040         당기순이익   -15.0  -191.0  2024-06-30   386.654
...      ...           ...     ...     ...         ...       ...
3193  465770            자본   359.0     NaN  2024-06-30  1003.940
3194  475150         당기순이익   -27.0     NaN  2024-06-30  5383.930
3195  475150           매출액   140.0     NaN  2024-06-30  5383.930
3196  475150  영업활동으로인한현금흐름   234.0     NaN  2024-06-30  5383.930
3197  475150            자본  2169.0     NaN  2024-06-30  5383.930

[3198 rows x 6 columns]

In [44]:
fsq_list_merge['value'] = fsq_list_merge['시가총액'] / fsq_list_merge['ttm']
fsq_list_merge['지표'] = np.where(
    fsq_list_merge['계정'] == '매출액', 'PSR',
    np.where(
        fsq_list_merge['계정'] == '영업활동으로인한현금흐름', 'PCR',
        np.where(fsq_list_merge['계정'] == '자본', 'PBR',
                 np.where(fsq_list_merge['계정'] == '당기순이익', 'PER', None))))

fsq_list_merge

,종목코드,계정,값,ttm,기준일,시가총액,value,지표
0,000020,당기순이익,31.0,138.0,2024-06-30,2214.970,16.050507,PER
1,000020,매출액,1152.0,4058.0,2024-06-30,2214.970,0.545828,PSR
2,000020,영업활동으로인한현금흐름,-87.0,130.0,2024-06-30,2214.970,17.038231,PCR
3,000020,자본,4091.0,4055.0,2024-06-30,2214.970,0.546232,PBR
4,000040,당기순이익,-15.0,-191.0,2024-06-30,386.654,-2.024366,PER
...,...,...,...,...,...,...,...,...
3193,465770,자본,359.0,NaN,2024-06-30,1003.940,NaN,PBR
3194,475150,당기순이익,-27.0,NaN,2024-06-30,5383.930,NaN,PER
3195,475150,매출액,140.0,NaN,2024-06-30,5383.930,NaN,PSR
3196,475150,영업활동으로인한현금흐름,234.0,NaN,2024-06-30,5383.930,NaN,PCR
3197,475150,자본,2169.0,NaN,2024-06-30,5383.930,NaN,PBR

In [45]:
fsq_list_clean = fsq_list_merge.copy()

# 데이터 병합을 위해 fsq_list_pivot도 동일하게 처리
fsq_list_pivot = fsq_list_clean.pivot_table(index=['종목코드', '기준일'], columns='계정', values='ttm').reset_index()

# 최신 기준일 찾기
latest_date = fsq_list_pivot['기준일'].max()

# 최신 기준일의 데이터만 필터링
latest_data = fsq_list_pivot[fsq_list_pivot['기준일'] == latest_date]

# 결과 출력
latest_data

계정     종목코드         기준일   당기순이익      매출액  영업활동으로인한현금흐름        자본
0    000020  2024-06-30   138.0   4058.0         130.0   4055.00
1    000040  2024-06-30  -191.0    703.0         -80.0    219.75
2    000050  2024-06-30    28.0   4001.0         530.0   7386.00
3    000070  2024-06-30  2509.0  33724.0        2204.0  28321.00
4    000080  2024-06-30   872.0  25615.0        1476.0  11130.25
..      ...         ...     ...      ...           ...       ...
791  454910  2024-06-30  -131.0    547.0        -398.0   4374.75
792  457190  2024-06-30   -36.0   2426.0          51.0   1028.25
793  460850  2024-06-30   512.0  21979.0         360.0   9826.75
794  460860  2024-06-30  1555.0  40691.0        4965.0  17164.75
795  462520  2024-06-30   318.0   5328.0         162.0   2182.75

[746 rows x 6 columns]

백분율로 표기하여 보자.

DY = 주당 배당금 / 종가 * 100

ROE = 당기 순이익 / 자본 * 100

In [46]:
# fsq_list_merge에서 필요한 지표를 필터링
metrics_df = fsq_list_merge[fsq_list_merge['지표'].isin(['PBR', 'PER'])]

# 지표를 열로 전환하여 피벗 테이블 생성
pivoted_metrics = metrics_df.pivot_table(index='종목코드', columns='지표', values='value')

# latest_data와 병합하여 ROE 및 기타 재무 값 가져오기
merged_data = pd.merge(latest_data, pivoted_metrics, on='종목코드', how='left')

# PBR과 PER 소수점 두 자리까지 반올림
merged_data['PBR'] = merged_data['PBR'].round(2)
merged_data['PER'] = merged_data['PER'].round(2)

merged_data = pd.merge(merged_data, kospi_ticker_list[['종목코드', '종목명', '종가', '주당배당금']], on='종목코드', how='left')

# DY 계산
merged_data['DY'] = ((merged_data['주당배당금'] / merged_data['종가']) * 100).round(2)

# ROE 계산
merged_data['ROE'] = ((merged_data['당기순이익'] / merged_data['자본']) * 100).round(2)

merged_data[['기준일', '종목코드', '종목명', 'PBR', 'PER', 'DY', 'ROE']]

            기준일    종목코드        종목명    PBR     PER    DY    ROE
0    2024-06-30  000020       동화약품   0.55   16.05  2.27   3.40
1    2024-06-30  000040      KR모터스   1.76   -2.02  0.00 -86.92
2    2024-06-30  000050         경방   0.29   75.39  1.62   0.38
3    2024-06-30  000070      삼양홀딩스   0.21    2.33  5.12   8.86
4    2024-06-30  000080      하이트진로   1.29   16.45  4.65   7.83
..          ...     ...        ...    ...     ...   ...    ...
741  2024-06-30  454910     두산로보틱스  11.26 -376.05  0.00  -2.99
742  2024-06-30  457190  이수스페셜티케미컬  13.50 -385.58  0.00  -3.50
743  2024-06-30  460850       동국씨엠   0.21    3.97  1.47   5.21
744  2024-06-30  460860       동국제강   0.27    3.01  7.43   9.06
745  2024-06-30  462520       조선내화   1.07    7.34  0.00  14.57

[746 rows x 7 columns]

In [47]:
# 최종 데이터프레임 구성
final_data = merged_data[['종목코드', '종목명', 'PBR', 'PER', 'DY', 'ROE']]

# 결과 출력
final_data

       종목코드        종목명    PBR     PER    DY    ROE
0    000020       동화약품   0.55   16.05  2.27   3.40
1    000040      KR모터스   1.76   -2.02  0.00 -86.92
2    000050         경방   0.29   75.39  1.62   0.38
3    000070      삼양홀딩스   0.21    2.33  5.12   8.86
4    000080      하이트진로   1.29   16.45  4.65   7.83
..      ...        ...    ...     ...   ...    ...
741  454910     두산로보틱스  11.26 -376.05  0.00  -2.99
742  457190  이수스페셜티케미컬  13.50 -385.58  0.00  -3.50
743  460850       동국씨엠   0.21    3.97  1.47   5.21
744  460860       동국제강   0.27    3.01  7.43   9.06
745  462520       조선내화   1.07    7.34  0.00  14.57

[746 rows x 6 columns]

---

In [48]:
pbr_filtered = final_data[final_data['PBR'] < 1]
pbr_filtered

       종목코드       종목명   PBR    PER    DY   ROE
0    000020      동화약품  0.55  16.05  2.27  3.40
2    000050        경방  0.29  75.39  1.62  0.38
3    000070     삼양홀딩스  0.21   2.33  5.12  8.86
6    000120    CJ대한통운  0.53   8.57  0.53  6.22
7    000140  하이트진로홀딩스  0.19   3.03  6.04  6.24
..      ...       ...   ...    ...   ...   ...
736  446070  유니드비티플러스  0.25   8.05  0.00  3.16
739  452260    한화갤러리아  0.28  -8.91  0.00 -3.10
740  453340    현대그린푸드  0.62   7.07  2.73  8.80
743  460850      동국씨엠  0.21   3.97  1.47  5.21
744  460860      동국제강  0.27   3.01  7.43  9.06

[506 rows x 6 columns]

In [49]:
per_filtered = final_data[final_data['PER'] < 10]
per_filtered

       종목코드        종목명    PBR     PER    DY    ROE
1    000040      KR모터스   1.76   -2.02  0.00 -86.92
3    000070      삼양홀딩스   0.21    2.33  5.12   8.86
6    000120     CJ대한통운   0.53    8.57  0.53   6.22
7    000140   하이트진로홀딩스   0.19    3.03  6.04   6.24
8    000150         두산   0.32    8.74  0.89   3.68
..      ...        ...    ...     ...   ...    ...
741  454910     두산로보틱스  11.26 -376.05  0.00  -2.99
742  457190  이수스페셜티케미컬  13.50 -385.58  0.00  -3.50
743  460850       동국씨엠   0.21    3.97  1.47   5.21
744  460860       동국제강   0.27    3.01  7.43   9.06
745  462520       조선내화   1.07    7.34  0.00  14.57

[475 rows x 6 columns]

In [51]:
dy_filtered = final_data[final_data['DY'] >= 5]
dy_filtered

       종목코드       종목명   PBR    PER    DY    ROE
3    000070     삼양홀딩스  0.21   2.33  5.12   8.86
7    000140  하이트진로홀딩스  0.19   3.03  6.04   6.24
17   000390     삼화페인트  0.67  10.47  5.22   6.43
19   000480     CR홀딩스  0.35   9.98  6.65   3.53
29   000700     유수홀딩스  0.33   5.35  6.33   6.22
..      ...       ...   ...    ...   ...    ...
709  300720     한일시멘트  0.54   4.23  5.91  12.90
711  306200      세아제강  0.36   2.72  6.32  13.21
720  344820    KCC글라스  0.43  10.62  5.51   4.06
731  381970       케이카  2.71  18.87  5.74  14.35
744  460860      동국제강  0.27   3.01  7.43   9.06

[76 rows x 6 columns]

In [53]:
roe_filtered = final_data[final_data['ROE'] >= 10]
roe_filtered

       종목코드      종목명   PBR    PER    DY     ROE
14   000270       기아  1.04   5.15  4.53   20.22
15   000300    대유플러스 -0.30  -0.19  0.00  154.92
39   000990    DB하이텍  1.24   9.94  1.18   12.48
42   001060   JW중외제약  2.64  19.76  1.32   13.36
48   001230    동국홀딩스  0.17   0.46  7.19   36.48
..      ...      ...   ...    ...   ...     ...
718  336370  솔루스첨단소재  1.36   9.56  0.48   14.23
730  378850   화승알앤에이  0.75   2.85  1.07   26.28
731  381970      케이카  2.71  18.87  5.74   14.35
732  383220      F&F  1.74   5.94  2.82   29.36
745  462520     조선내화  1.07   7.34  0.00   14.57

[163 rows x 6 columns]

In [54]:
# KOSPI 구성 종목 필터링 조건
filtered_stocks = final_data[
    (final_data['PBR'] < 1) & 
    (final_data['PER'] < 10) & 
    (final_data['DY'] >= 5) & 
    (final_data['ROE'] >= 10)
]

# 결과 출력
filtered_stocks

       종목코드        종목명   PBR   PER    DY    ROE
48   001230      동국홀딩스  0.17  0.46  7.19  36.48
382  016450  한세예스24홀딩스  0.20  1.89  5.37  10.55
433  025000     KPX케미칼  0.36  3.61  6.18  10.00
480  035250       강원랜드  0.81  7.36  6.73  10.98
530  069260     TKG휴켐스  0.95  7.84  5.15  12.08
654  192400      쿠쿠홀딩스  0.72  6.08  5.02  11.87
665  214320        이노션  0.88  7.18  5.62  12.31
709  300720      한일시멘트  0.54  4.23  5.91  12.90
711  306200       세아제강  0.36  2.72  6.32  13.21