# 5주차 과제

1. 이미 구축한  DB(stock_db)에 있는 테이블을 활용해서  조건에 맞는 기업을 추출해 내는 과제 입니다.

2. 지난 시간에 실습했던 파이썬 구현 내용들을  이용하면  쉽게 마칠 수 있을 것입니다.

3. 주의할 점은  기업 유니버스 범위를 전 종목이 아니라 KOSPI로 한정하고 있으니  '시장 구분' 조건을 추가해야 할 것입니다.

4.  파이썬 코드와 결과 리스트 등은 갭쳐하거나 복사해서  워드나 파워포인트 등에 붙여 파일 첨부로 제출해 주세요.

5. 과제 문제는 파일로 첨부했습니다.

--  1번 과제에서 매출액 변화를  '매출액 증가율'로 수정합니다.

## 1. 데이터 준비
1. DB 구축
2. '시장 구분'조건으로 KOSPI 종목 주식 데이터 불러오기

In [132]:
import sys
sys.version

'3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]'

In [133]:
# 패키지 불러오기

from sqlalchemy import create_engine
import pandas as pd
import numpy as np

# DB 연결

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')

# KOSPI 구성 종목의 시가총액 및 주가 데이터 가져오기
kospi_ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
and 종목구분 = '보통주'
and 시장구분 = 'KOSPI';
""", con=engine)

# 재무제표 불러오기  (q: 분기, y: 연간)

fs_list = pd.read_sql("""
select * from kor_fis
where 계정 in ('당기순이익','매출액', '매출총이익', '영업활동으로인한현금흐름', '자산', '자본','부채','배당금지급(-)')
and 공시구분 = 'y';   # 연간 
""", con=engine)

engine.dispose()

In [134]:
#  데이터 구조 파악

print(fs_list.tail(1))
print(fs_list.shape)
print("----------------------------------------------------------------------------------------------------------")
print(ticker_list.tail(1))
print(ticker_list.shape)

       계정         기준일      값    종목코드 공시구분
54141  자산  2024-03-31  946.0  289080    y
(54142, 5)
----------------------------------------------------------------------------------------------------------
        종목코드     종목명   시장구분       종가          시가총액         기준일  EPS   선행EPS  \
2436  475150  SK이터닉스  KOSPI  19230.0  5.383930e+11  2024-07-03  NaN  1313.0

      BPS  주당배당금 종목구분
2436  NaN    0.0  보통주
(2437, 11)

In [135]:
kospi_ticker_list.head()

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분
0,000020,동화약품,KOSPI,7930.0,2.214970e+11,2024-07-03,991.0,NaN,13413.0,180.0,보통주
1,000040,KR모터스,KOSPI,643.0,3.866540e+10,2024-07-03,NaN,NaN,618.0,0.0,보통주
2,000050,경방,KOSPI,7700.0,2.110980e+11,2024-07-03,NaN,NaN,29623.0,125.0,보통주
3,000070,삼양홀딩스,KOSPI,68300.0,5.849400e+11,2024-07-03,22269.0,NaN,257475.0,3500.0,보통주
4,000080,하이트진로,KOSPI,20450.0,1.434230e+12,2024-07-03,512.0,1482.0,15694.0,950.0,보통주

## 문제 1

KOSPI 구성종목에서 전년(2022년) 대비 매출액이 크게 증가한 기업 상위 10 개

In [136]:
# 기준일을 datetime으로 변환한 후, 연도 필터링
fs_list['기준일'] = pd.to_datetime(fs_list['기준일'], format='%Y-%m-%d')

#### 2022년 종목별 재무비율

In [137]:
# 2022년 데이터만 추출
fs_2022 = fs_list[(fs_list['기준일']=='2022-12-31')]

In [138]:
f_2022_list = fs_2022.groupby(['종목코드', '계정']).tail(1)
f_2022_list_pivot = f_2022_list.pivot(index='종목코드', columns='계정', values='값')  # 수직 to 수평으로 데이터 변환
f_2022_list_pivot.head(5)

계정,당기순이익,매출액,매출총이익,배당금지급(-),부채,영업활동으로인한현금흐름,자본,자산
종목코드,,,,,,,,
000020,216.0,3404.0,1810.0,-50.0,825.0,292.0,3787.0,4611.0
000040,-130.0,1171.0,170.0,NaN,1092.0,-24.0,400.0,1492.0
000050,44.0,3892.0,1262.0,-31.0,4933.0,293.0,7550.0,12483.0
000070,1058.0,33168.0,5433.0,-337.0,20243.0,957.0,25235.0,45478.0
000080,868.0,24976.0,10632.0,-557.0,21724.0,-740.0,11610.0,33334.0

In [139]:
# 재무비율 변환

f_2022_list_pivot['ROE'] = f_2022_list_pivot['당기순이익'] / f_2022_list_pivot['자본']
f_2022_list_pivot['ROA'] = f_2022_list_pivot['당기순이익'] / f_2022_list_pivot['자산']
f_2022_list_pivot['GPA'] = f_2022_list_pivot['매출총이익'] / f_2022_list_pivot['자산']
f_2022_list_pivot['CFO'] = f_2022_list_pivot['영업활동으로인한현금흐름'] / f_2022_list_pivot['자산']
f_2022_list_pivot['DEBTR'] = f_2022_list_pivot['부채'] / f_2022_list_pivot['자본']  # 부채비율
f_2022_list_pivot['DVP'] = (-1)*f_2022_list_pivot['배당금지급(-)'] / f_2022_list_pivot['당기순이익']  # 배당성향 = 현금 배당금/당기순이익

f_2022_ratio = kospi_ticker_list[['종목코드', '종목명']].merge(f_2022_list_pivot,
                                                  how='left',
                                                  on='종목코드') # 종목코드에 종목명을 매칭
f_2022_ratio.round(4).head()

,종목코드,종목명,당기순이익,매출액,매출총이익,배당금지급(-),부채,영업활동으로인한현금흐름,자본,자산,ROE,ROA,GPA,CFO,DEBTR,DVP
0,000020,동화약품,216.0,3404.0,1810.0,-50.0,825.0,292.0,3787.0,4611.0,0.0570,0.0468,0.3925,0.0633,0.2179,0.2315
1,000040,KR모터스,-130.0,1171.0,170.0,NaN,1092.0,-24.0,400.0,1492.0,-0.3250,-0.0871,0.1139,-0.0161,2.7300,NaN
2,000050,경방,44.0,3892.0,1262.0,-31.0,4933.0,293.0,7550.0,12483.0,0.0058,0.0035,0.1011,0.0235,0.6534,0.7045
3,000070,삼양홀딩스,1058.0,33168.0,5433.0,-337.0,20243.0,957.0,25235.0,45478.0,0.0419,0.0233,0.1195,0.0210,0.8022,0.3185
4,000080,하이트진로,868.0,24976.0,10632.0,-557.0,21724.0,-740.0,11610.0,33334.0,0.0748,0.0260,0.3190,-0.0222,1.8711,0.6417

#### 2023년 종목별 재무비율

In [140]:
# 2023년 연간 데이터만 추출
fs_2023 = fs_list[(fs_list['기준일']=='2023-12-31')]

In [141]:
f_2023_list = fs_2023.groupby(['종목코드', '계정']).tail(1)
f_2023_list_pivot = f_2023_list.pivot(index='종목코드', columns='계정', values='값')  # 수직 to 수평으로 데이터 변환
f_2023_list_pivot.head(5)

계정,당기순이익,매출액,매출총이익,배당금지급(-),부채,영업활동으로인한현금흐름,자본,자산
종목코드,,,,,,,,
000020,282.0,3611.0,1904.0,-50.0,1579.0,292.0,4071.0,5650.0
000040,-210.0,784.0,48.0,NaN,1162.0,-88.0,224.0,1386.0
000050,-135.0,3935.0,1118.0,-31.0,4688.0,462.0,7380.0,12069.0
000070,2270.0,32109.0,5287.0,-378.0,23401.0,3058.0,27965.0,51367.0
000080,355.0,25202.0,11140.0,-661.0,22425.0,1644.0,11159.0,33583.0

In [142]:
# 재무비율 변환

f_2023_list_pivot['ROE'] = f_2023_list_pivot['당기순이익'] / f_2023_list_pivot['자본']
f_2023_list_pivot['ROA'] = f_2023_list_pivot['당기순이익'] / f_2023_list_pivot['자산']
f_2023_list_pivot['GPA'] = f_2023_list_pivot['매출총이익'] / f_2023_list_pivot['자산']
f_2023_list_pivot['CFO'] = f_2023_list_pivot['영업활동으로인한현금흐름'] / f_2023_list_pivot['자산']
f_2023_list_pivot['DEBTR'] = f_2023_list_pivot['부채'] / f_2023_list_pivot['자본']  # 부채비율
f_2023_list_pivot['DVP'] = (-1)*f_2023_list_pivot['배당금지급(-)'] / f_2023_list_pivot['당기순이익']  # 배당성향 = 현금 배당금/당기순이익

f_2023_ratio = kospi_ticker_list[['종목코드', '종목명']].merge(f_2023_list_pivot,
                                                  how='left',
                                                  on='종목코드') # 종목코드에 종목명을 매칭
f_2023_ratio.round(4).head()

,종목코드,종목명,당기순이익,매출액,매출총이익,배당금지급(-),부채,영업활동으로인한현금흐름,자본,자산,ROE,ROA,GPA,CFO,DEBTR,DVP
0,000020,동화약품,282.0,3611.0,1904.0,-50.0,1579.0,292.0,4071.0,5650.0,0.0693,0.0499,0.3370,0.0517,0.3879,0.1773
1,000040,KR모터스,-210.0,784.0,48.0,NaN,1162.0,-88.0,224.0,1386.0,-0.9375,-0.1515,0.0346,-0.0635,5.1875,NaN
2,000050,경방,-135.0,3935.0,1118.0,-31.0,4688.0,462.0,7380.0,12069.0,-0.0183,-0.0112,0.0926,0.0383,0.6352,-0.2296
3,000070,삼양홀딩스,2270.0,32109.0,5287.0,-378.0,23401.0,3058.0,27965.0,51367.0,0.0812,0.0442,0.1029,0.0595,0.8368,0.1665
4,000080,하이트진로,355.0,25202.0,11140.0,-661.0,22425.0,1644.0,11159.0,33583.0,0.0318,0.0106,0.3317,0.0490,2.0096,1.8620

#### 병합 후 매출액 증가율 계산

In [143]:
# 2022년과 2023년 데이터를 종목코드 기준으로 병합
# 2022년 매출액 데이터와 2023년 매출액 데이터를 종목코드로 병합
fs_merged = pd.merge(f_2022_ratio[['종목코드', '매출액']], f_2023_ratio[['종목코드', '매출액']], on='종목코드', how='inner', suffixes=('_2022', '_2023'))
fs_merged.head()

     종목코드  매출액_2022  매출액_2023
0  000020    3404.0    3611.0
1  000040    1171.0     784.0
2  000050    3892.0    3935.0
3  000070   33168.0   32109.0
4  000080   24976.0   25202.0

In [144]:
# KOSPI 종목으로 필터링
fs_kospi = pd.merge(fs_merged, kospi_ticker_list[['종목코드', '종목명']], on='종목코드', how='inner')

# 매출액 증가율 계산 ((2023 매출액 - 2022 매출액) / 2022 매출액) * 100 (%)
fs_kospi['매출액 증가율'] = ((fs_kospi['매출액_2023'] - fs_kospi['매출액_2022']) / fs_kospi['매출액_2022']) * 100

# 매출액 증가율이 큰 순으로 정렬 후 상위 10개 기업 추출
top_10 = fs_kospi.sort_values(by='매출액 증가율', ascending=False).head(10)

# 기준일과 매출액 변화 추가
top_10['기준일'] = pd.to_datetime('2023-12-31')  
top_10['매출액 변화'] = top_10['매출액_2023'] - top_10['매출액_2022']  # 매출액 변화 계산

top_10 = top_10[['종목코드', '종목명', '기준일', '매출액 증가율']]

top_10

       종목코드       종목명        기준일     매출액 증가율
798  446070  유니드비티플러스 2023-12-31  478.082192
533  039130      하나투어 2023-12-31  257.913043
671  118000      에스메디 2023-12-31  192.146597
472  025620   제이준코스메틱 2023-12-31  174.193548
626  091810     티웨이항공 2023-12-31  156.523393
618  089590      제주항공 2023-12-31  145.409253
766  298690      에어부산 2023-12-31  119.851852
750  272450       진에어 2023-12-31  115.234243
273  007460     에이프로젠 2023-12-31   92.337165
155  003580    HLB글로벌 2023-12-31   79.147982

---

## 문제 2

2024년 최근 TTM 기준 KOSPI 구성종목 중에 PBR이 1 미만 , PER가 10미만, 배당수익률(DY) 5%이상,자기자본이익률(ROE) 10% 이상

TTM (Trailing Twelve Months) : 연간 기준 재무제표를 데이터 활용시 다음 재무제표가 발표될때 까지 최장 1년을 기다려야 함. 한편 분기 재무제표는 3개월마다 발표되므로 최근 정보가 반영될 수 있다는 장점이 있어 최근 4개 분기 데이터를 활용하는 TTM 기법이 많이 사용된다.

재무제표 데이터를 이용한  가치지표 계산. 

1. PER = Price to Earnings Ratio= p / Earnings (순이익). 
2. PBR = Price to Book Ratio = p / Book Value (순자산). 
3. PCR = Price to Cash Flow Ratio= p / Cash Flow (영업활동현금흐름). 
4. PSR = Price to Sales Ratio=  p / Sales (매출액). 
5. DY = Dividend Yield = p / Dividened (배당).
6. ROE = Net income (당기 순이익) / Equity (자본) * 100

In [318]:
import pandas as pd
from sqlalchemy import create_engine

#  가치지표 DB
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')

# 종목별 가치지표 불러오기
value_db = pd.read_sql("""
select * from kor_value
# where 지표 in ('PER'); 
""", con=engine)

# 재무제표 불러오기  (q: 분기, y: 연간)
fsq_list = pd.read_sql("""
select * from kor_fis
where 공시구분 = 'q'
and 계정 in ('당기순이익','자본','영업활동으로인한현금흐름','매출액');
""", con=engine)

# KOSPI 구성 종목의 시가총액 및 주가 데이터 가져오기
kospi_ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
and 종목구분 = '보통주'
and 시장구분 = 'KOSPI';
""", con=engine)

engine.dispose()

In [319]:
value_db.head(5)

     종목코드         기준일   지표        값
0  000020  2024-07-03   DY   0.0227
1  000020  2024-07-03  PBR   0.5462
2  000020  2024-07-03  PCR  17.0382
3  000020  2024-07-03  PER  16.0505
4  000020  2024-07-03  PSR   0.5458

fsq_list를 통해 분기 별 종목의 ROE를 구할 수 있다. 

ROE = 당기 순이익 / 자본 * 100

In [320]:
fsq_list.head()

      계정         기준일       값    종목코드 공시구분
0  당기순이익  2023-06-30   -20.0  000250    q
1  당기순이익  2023-06-30   964.0  000370    q
2  당기순이익  2023-06-30   249.0  000400    q
3  당기순이익  2023-06-30   670.0  000540    q
4  당기순이익  2023-06-30  6032.0  000810    q

In [321]:
fsq_list = fsq_list.sort_values(['종목코드', '계정', '기준일'])
fsq_list['ttm'] = fsq_list.groupby(['종목코드', '계정'], as_index=False)['값'].rolling(
    window=4, min_periods=4).sum()['값']   # 최소 4개 데이터가 있어야 계산

In [322]:
fsq_list_clean = fsq_list.copy()

# 데이터 병합을 위해 fsq_list_pivot도 동일하게 처리
fsq_list_pivot = fsq_list_clean.pivot_table(index=['종목코드', '기준일'], columns='계정', values='값').reset_index()

# 최신 기준일 찾기
latest_date = fsq_list_pivot['기준일'].max()

# 최신 기준일의 데이터만 필터링
latest_data = fsq_list_pivot[fsq_list_pivot['기준일'] == latest_date]

# 결과 출력
latest_data

계정      종목코드         기준일  당기순이익     매출액  영업활동으로인한현금흐름       자본
3     000020  2024-06-30   31.0  1152.0         -87.0   4091.0
7     000040  2024-06-30  -15.0   205.0         -28.0    333.0
11    000050  2024-06-30   30.0   950.0          60.0   7405.0
15    000070  2024-06-30  397.0  9174.0         336.0  29213.0
19    000080  2024-06-30  439.0  6652.0         876.0  11277.0
...      ...         ...    ...     ...           ...      ...
9605  462510  2024-06-30  -28.0    19.0         -35.0    246.0
9609  462520  2024-06-30   24.0  1274.0         -22.0   2204.0
9612  464080  2024-06-30  -31.0     5.0         -31.0    377.0
9615  465770  2024-06-30    7.0    86.0          56.0    359.0
9619  475150  2024-06-30  -27.0   140.0         234.0   2169.0

[2147 rows x 6 columns]

In [323]:
# 데이터 피벗팅
value_pivot = value_db.pivot_table(index=['종목코드', '기준일'], columns='지표', values='값').reset_index()

# 필요없는 열 삭제
value_pivot = value_pivot.drop(columns=['PSR'])

#value_pivot['ROE'] = (latest_data['당기순이익'] / latest_data['자본']) * 100

value_pivot.columns.name = None # 제목이 지표가 되므로 삭제.

# 결과 출력
value_pivot

        종목코드         기준일      DY      PBR      PCR      PER
0     000020  2024-07-03  0.0227   0.5462  17.0382  16.0505
1     000040  2024-07-03     NaN   1.7595  -4.8332  -2.0244
2     000050  2024-07-03  0.0162   0.2858   3.9830  75.3921
3     000070  2024-07-03  0.0512   0.2065   2.6540   2.3314
4     000080  2024-07-03  0.0465   1.2886   9.7170  16.4476
...      ...         ...     ...      ...      ...      ...
2348  460860  2024-07-03  0.0743   0.2722   0.9412   3.0052
2349  460930  2024-07-03     NaN   2.7174  20.5742  40.3807
2350  461030  2024-07-03     NaN   5.3704 -17.7224 -12.4057
2351  462350  2024-07-03     NaN -19.7333 -21.9589  -7.0205
2352  462520  2024-07-03     NaN   1.0700  14.4165   7.3442

[2353 rows x 6 columns]

In [324]:
# 최신 데이터에서 ROE 계산
latest_data['ROE'] = (latest_data['당기순이익'] / latest_data['자본']) * 100

# value_pivot에 ROE 추가
value_pivot = value_pivot.merge(
    latest_data[['종목코드', 'ROE']],  # 필요한 열 선택
    on='종목코드',  # 기준으로 사용할 열
    how='left'  # 왼쪽 기준으로 병합
)

# 결과 출력
value_pivot

C:\Users\최재인\AppData\Local\Temp\ipykernel_31676\3511021031.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  latest_data['ROE'] = (latest_data['당기순이익'] / latest_data['자본']) * 100

        종목코드         기준일      DY      PBR      PCR      PER       ROE
0     000020  2024-07-03  0.0227   0.5462  17.0382  16.0505  0.757761
1     000040  2024-07-03     NaN   1.7595  -4.8332  -2.0244 -4.504505
2     000050  2024-07-03  0.0162   0.2858   3.9830  75.3921  0.405132
3     000070  2024-07-03  0.0512   0.2065   2.6540   2.3314  1.358984
4     000080  2024-07-03  0.0465   1.2886   9.7170  16.4476  3.892879
...      ...         ...     ...      ...      ...      ...       ...
2348  460860  2024-07-03  0.0743   0.2722   0.9412   3.0052  1.334100
2349  460930  2024-07-03     NaN   2.7174  20.5742  40.3807  2.252650
2350  461030  2024-07-03     NaN   5.3704 -17.7224 -12.4057 -6.406685
2351  462350  2024-07-03     NaN -19.7333 -21.9589  -7.0205 -9.422492
2352  462520  2024-07-03     NaN   1.0700  14.4165   7.3442  1.088929

[2353 rows x 7 columns]

In [325]:
kospi_ticker_list

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분
0,000020,동화약품,KOSPI,7930.0,2.214970e+11,2024-07-03,991.0,NaN,13413.0,180.0,보통주
1,000040,KR모터스,KOSPI,643.0,3.866540e+10,2024-07-03,NaN,NaN,618.0,0.0,보통주
2,000050,경방,KOSPI,7700.0,2.110980e+11,2024-07-03,NaN,NaN,29623.0,125.0,보통주
3,000070,삼양홀딩스,KOSPI,68300.0,5.849400e+11,2024-07-03,22269.0,NaN,257475.0,3500.0,보통주
4,000080,하이트진로,KOSPI,20450.0,1.434230e+12,2024-07-03,512.0,1482.0,15694.0,950.0,보통주
...,...,...,...,...,...,...,...,...,...,...,...
806,460850,동국씨엠,KOSPI,6800.0,2.033110e+11,2024-07-03,339.0,1943.0,32217.0,100.0,보통주
807,460860,동국제강,KOSPI,9420.0,4.673080e+11,2024-07-03,2869.0,3607.0,34740.0,700.0,보통주
808,462520,조선내화,KOSPI,19700.0,2.335470e+11,2024-07-03,1990.0,NaN,17960.0,0.0,보통주
809,465770,STX그린로지스,KOSPI,14000.0,1.003940e+11,2024-07-03,201.0,NaN,4260.0,0.0,보통주
810,475150,SK이터닉스,KOSPI,19230.0,5.383930e+11,2024-07-03,NaN,1313.0,NaN,0.0,보통주

In [344]:
# kospi_ticker_list와 value_pivot 병합

outcome = kospi_ticker_list.merge(
    value_pivot[['종목코드', 'PBR', 'PER', 'DY', 'ROE']],  # 필요한 열 선택
    on='종목코드',  # 기준으로 사용할 열
    how='left'  # 왼쪽 기준으로 병합
)

# 열 순서 지정
outcome = outcome[['종목코드', '종목명', 'PBR', 'PER', 'DY', 'ROE']]

# 백분율로 표기하기 위해 100을 곱한다.
outcome['DY'] = outcome['DY'] * 100

# 결과 출력
outcome

       종목코드       종목명     PBR      PER    DY       ROE
0    000020      동화약품  0.5462  16.0505  2.27  0.757761
1    000040     KR모터스  1.7595  -2.0244   NaN -4.504505
2    000050        경방  0.2858  75.3921  1.62  0.405132
3    000070     삼양홀딩스  0.2065   2.3314  5.12  1.358984
4    000080     하이트진로  1.2886  16.4476  4.65  3.892879
..      ...       ...     ...      ...   ...       ...
806  460850      동국씨엠  0.2069   3.9709  1.47  2.283378
807  460860      동국제강  0.2722   3.0052  7.43  1.334100
808  462520      조선내화  1.0700   7.3442   NaN  1.088929
809  465770  STX그린로지스     NaN      NaN   NaN       NaN
810  475150    SK이터닉스     NaN      NaN   NaN       NaN

[811 rows x 6 columns]

In [338]:
pbr_filtered = outcome[outcome['PBR'] < 1]
pbr_filtered

       종목코드       종목명     PBR      PER    DY       ROE
0    000020      동화약품  0.5462  16.0505  2.27  0.757761
2    000050        경방  0.2858  75.3921  1.62  0.405132
3    000070     삼양홀딩스  0.2065   2.3314  5.12  1.358984
6    000120    CJ대한통운  0.5329   8.5705  0.53  1.543031
7    000140  하이트진로홀딩스  0.1890   3.0299  6.04  3.431806
..      ...       ...     ...      ...   ...       ...
798  446070  유니드비티플러스  0.2542   8.0541   NaN  1.950719
801  452260    한화갤러리아  0.2763  -8.9057   NaN -0.095946
802  453340    현대그린푸드  0.6217   7.0669  2.73  3.536640
806  460850      동국씨엠  0.2069   3.9709  1.47  2.283378
807  460860      동국제강  0.2722   3.0052  7.43  1.334100

[550 rows x 6 columns]

In [339]:
per_filtered = outcome[outcome['PER'] < 10]
per_filtered

       종목코드        종목명      PBR       PER    DY       ROE
1    000040      KR모터스   1.7595   -2.0244   NaN -4.504505
3    000070      삼양홀딩스   0.2065    2.3314  5.12  1.358984
6    000120     CJ대한통운   0.5329    8.5705  0.53  1.543031
7    000140   하이트진로홀딩스   0.1890    3.0299  6.04  3.431806
8    000150         두산   0.3214    8.7397  0.89  1.811785
..      ...        ...      ...       ...   ...       ...
803  454910     두산로보틱스  11.2608 -376.0550   NaN -0.854306
805  457190  이수스페셜티케미컬  13.4993 -385.5750   NaN  4.344123
806  460850       동국씨엠   0.2069    3.9709  1.47  2.283378
807  460860       동국제강   0.2722    3.0052  7.43  1.334100
808  462520       조선내화   1.0700    7.3442   NaN  1.088929

[512 rows x 6 columns]

In [340]:
dy_filtered = outcome[outcome['DY'] >= 5]
dy_filtered

       종목코드       종목명     PBR      PER    DY       ROE
3    000070     삼양홀딩스  0.2065   2.3314  5.12  1.358984
7    000140  하이트진로홀딩스  0.1890   3.0299  6.04  3.431806
18   000390     삼화페인트  0.6732  10.4713  5.22  3.148855
21   000480     CR홀딩스  0.3517   9.9763  6.65  0.281208
32   000700     유수홀딩스  0.3332   5.3536  6.33  2.539113
..      ...       ...     ...      ...   ...       ...
769  306200      세아제강  0.3600   2.7243  6.32  2.852430
772  316140    우리금융지주  0.3264   4.3155  6.83       NaN
781  344820    KCC글라스  0.4309  10.6204  5.51  0.820223
792  381970       케이카  2.7077  18.8737  5.74  5.079638
807  460860      동국제강  0.2722   3.0052  7.43  1.334100

[97 rows x 6 columns]

In [341]:
roe_filtered = outcome[outcome['ROE'] >= 10]
roe_filtered

       종목코드        종목명      PBR      PER    DY         ROE
88   002020        코오롱   0.1445   0.9651  3.47   15.063261
143  003350    한국화장품제조   4.2513  17.6615  0.19   11.041009
223  005610      SPC삼립   1.1306   5.8753  3.04   10.188597
252  006380        카프로  51.5450  18.5192   NaN   57.871199
277  007610       선도전기   1.5330  18.0000   NaN   12.931034
292  008500       일정실업   4.1800   6.8400   NaN   33.333333
503  033180     KH 필룩스   0.2681  -3.0870   NaN   13.636364
533  039130       하나투어   6.7918  13.4382  8.96   10.723404
667  112610      씨에스윈드   2.0249  33.8243  1.07   10.440992
672  119650      KC코트렐   1.6251  -0.6680   NaN  994.117647
715  194370  제이에스코퍼레이션   0.7842   3.2436  4.82   10.109072
741  267260   HD현대일렉트릭  10.4002  25.6330  0.31   12.472919

In [343]:
# KOSPI 구성 종목 필터링 조건
filtered_stocks = outcome[
    (outcome['PBR'] < 1) & 
    (outcome['PER'] < 10) & 
    (outcome['DY'] >= 5) & 
    (outcome['ROE'] >= 10)
]

# 결과 출력
filtered_stocks

Empty DataFrame
Columns: [종목코드, 종목명, PBR, PER, DY, ROE]
Index: []

없다?